<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>831786482503-bspmiq0jdnlt9mdvvdcbe2a6hbd3d3vh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.831786482503-bspmiq0jdnlt9mdvvdcbe2a6hbd3d3vh</string>
	<key>API_KEY</key>
	<string>AIzaSyA-b6PAPTYkwgRs44SZ-M8ltRt9Uz9NQoY</string>
	<key>GCM_SENDER_ID</key>
	<string>831786482503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Tipsy.com.Login-Sign-up-Firebase</string>
	<key>PROJECT_ID</key>
	<string>login-9b320</string>
	<key>STORAGE_BUCKET</key>
	<string>login-9b320.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:831786482503:ios:71c09f7961258377b1aa62</string>
	<key>DATABASE_URL</key>
	<string>https://login-9b320.firebaseio.com</string>
</dict>
</plist>